body{
   background-color: rgb(243, 242, 251);
   font-family: 'Courier New', Courier, monospace;
   
}
.container{
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}
h1, h2{
   margin:1rem;
   text-align: center;
   font-family:'Courier New', Courier, monospace;
}
.SecondContainer{
   margin: 20px;
   display:flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   gap: 2rem;
}
.images{
   width: 20rem;
   height: auto;
}
button{
   background: #eac4ad;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 900;
}